{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Manage Post{% endblock %}

{% block content %}
    <div class="page-header mt-5 d-flex justify-content-between align-items-center">
        <h1>Posts {{ pagination.total }}</h1>
        <span><a class="btn btn-primary btn-sm" href="{{ url_for('.new_post') }}">New Post</a></span>
    </div>
    {% if posts %}
    <table class="table table-striped my-5">
        <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Category</th>
                <th>Date</th>
                <th>Comments</th>
                <th>Words</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ loop.index + (config.BLUELOG_MANAGE_POST_PAGE * (pagination.page-1)) }}</td>
                <td><a href="{{ url_for('blog.show_post', post_id=post.id) }}">{{ post.title }}</a></td>
                <td><a href="{{ url_for('blog.show_category', category_id=post.category_id) }}">{{ post.category.name }}</a></td>
                <td>{{ moment(post.timestamp).format('LL') }}</td>
                <td>{{ post.comments|length }}</td>
                <td>{{ post.body|length }}</td>
                <td>{{ post.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(pagination) }}
    {% else %}
        <div class="tip"><h5>No Post</h5></div>
    {% endif %}
{% endblock %}


