{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="page-header mt-3">
        <h1 class="display-3 animate__animated animate__bounce">{{ admin.bluelog_title|default('Blog title') }}</h1>
        <h4 class="text-muted mt-3" >
            <div id="typed-strings" >
               <small> {{ admin.blog_sub_title|default('Blog Subtitle') }}</small>
               <small> 你确定你是认真的吗？</small>
            </div>
            <span id="typed"></span>
        </h4>
    </div>

    <div class="row mt-4">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                {{ render_pager(pagination) }}

            {% endif %}
        </div>
        <br>
        <div class="col-sm-4 pl-4 ">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>

{% endblock %}